EVAL_EMAIL=gt0821@srmist.edu.in
EVAL_NAME="Your Name"
EVAL_MOBILE_NO="8979912121"
EVAL_GITHUB_USERNAME=""
EVAL_ROLL_NO="your_roll_no"
EVAL_ACCESS_CODE="your_access_code"

# These will be generated after you run `node register.js`
EVAL_CLIENT_ID=
EVAL_CLIENT_SECRET=
